<!-- Pricing section -->
<section class="pricing-section spad">
    <div class="container">
        <div class="section-title text-white">
            <h2>Nos services VPS</h2>

        </div>
        <form method="post" action="~/Send">
            <div class="row">
                <div class="col-md-4">
                    <div class="pricing-card">
                        <div class="pc-header">
                            <h4>VPS Personal</h4>
                            <h5><span>5.99€ /mois</span></h5>
                        </div>
                        <div class="pc-details">
                            <div class="pc-icon">
                                <img src="../Models/hosting2019/img/pricing-icons/3.png" alt="#">
                            </div>
                            <ul>
                                <li>4 vCore </li>
                                <li>8 Go RAM</li>
                                <li>10 Go SAS [15K RPM]</li>
                                <li>Linux uniquement</li>
                                <li>x1 IPv6 & IPv4</li>
                                <li>Jusqu'à 100 Mbps</li>
                            </ul>
                            <a href="~/cart/index.aspx?vps-perso=product" class="site-btn">@ViewBag.VPSButton</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-card">
                        <div class="pc-header">
                            <h4>VPS Startup</h4>
                            <h5><span>12.99€ /mois</span></h5>
                        </div>
                        <div class="pc-details">
                            <div class="pc-icon">
                                <img src="../Models/hosting2019/img/pricing-icons/3.png" alt="">
                            </div>
                            <ul>
                                <li>6 vCore </li>
                                <li>16 Go RAM</li>
                                <li>30 Go SAS [15K RPM]</li>
                                <li>Linux uniquement</li>
                                <li>x1 IPv6 & IPv4</li>
                                <li>Jusqu'à 100 Mbps</li>
                            </ul>
                            <a href="~/cart/index.aspx?vps-start=product" class="site-btn">@ViewBag.VPSButton</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-card">
                        <div class="pc-header">
                            <h4>VPS Enterprise</h4>
                            <h5><span>25.99€ /mois</span></h5>
                        </div>
                        <div class="pc-details">
                            <div class="pc-icon">
                                <img src="../Models/hosting2019/img/pricing-icons/3.png" alt="#">
                            </div>
                            <ul>
                                <li>8 vCore </li>
                                <li>32 Go RAM</li>
                                <li>50 Go SAS [15K RPM]</li>
                                <li>Linux uniquement</li>
                                <li>x1 IPv6 & IPv4</li>
                                <li>100 Mbps dédié</li>
                            </ul>
                            <a href="~/cart/index.aspx?vps-entreprise=product" class="site-btn">@ViewBag.VPSButton</a>
                        </div>
                    </div>
                </div>
            </div>


        </form>
</div>
    
    </div>
</section>

<div class="add-section spad">
    <div class="container">
        <div class="section-title">
            <h2>Pourquoi choisir les VPS Synhostinger ? </h2>
        </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="#"><img src="../Models/hosting2019/img/light.png" alt=""></a>
                </div>
                <div class="col-lg-6">
                    <div id="accordion" class="accordion-area">
                        <div class="panel">
                            <div class="panel-header" id="headingOne">
                                <button class="panel-link active collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">Trafic illimité</button>
                            </div>
                            <div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                <div class="panel-body">
                                    <p>Le trafic de votre serveur VPS est illimité, avec une bande passante maximale de 200 Mbps.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header" id="headingTwo">
                                <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    Environnement dédié
                                </button>
                            </div>
                            <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="panel-body">
                                    <p>Vous bénéficiez de ressources physiques allouées et d’un accès complet à votre serveur virtuel, pour héberger vos sites internet ou applications.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header active" id="headingThree">
                                <button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    Simplicité et autonomie
                                </button>
                            </div>
                            <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="panel-body">
                                    <p>Les VPS vous permettent de vous libérer des contraintes matérielles (évolution des composants, défaillance technique, etc.) tout en bénéficiant d’un total contrôle sur votre serveur virtuel</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>