<!-- Pricing section -->
<section class="pricing-section spad">
    <div class="container">
        <div class="section-title text-white">
            <h2>Nos services VPS</h2>

        </div>
        <form method="post" action="~/Send">
            <div class="row">
                <div class="col-md-4">
                    <div class="pricing-card">
                        <div class="pc-header">
                            <h4>VPS Personal</h4>
                            <h5><span>5.99€ /mois</span></h5>
                        </div>
                        <div class="pc-details">
                            <div class="pc-icon">
                                <img src="../Models/hosting2019/img/pricing-icons/3.png" alt="#">
                            </div>
                            <ul>
                                <li>4 vCore </li>
                                <li>8 Go RAM</li>
                                <li>10 Go SAS [15K RPM]</li>
                                <li>Linux uniquement</li>
                                <li>x1 IPv6 & IPv4</li>
                                <li>Jusqu'à 100 Mbps</li>
                            </ul>
                            <a href="~/cart/index.aspx?vps-perso=product" class="site-btn">@ViewBag.VPSButton</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-card">
                        <div class="pc-header">
                            <h4>VPS Startup</h4>
                            <h5><span>12.99€ /mois</span></h5>
                        </div>
                        <div class="pc-details">
                            <div class="pc-icon">
                                <img src="../Models/hosting2019/img/pricing-icons/3.png" alt="">
                            </div>
                            <ul>
                                <li>6 vCore </li>
                                <li>16 Go RAM</li>
                                <li>30 Go SAS [15K RPM]</li>
                                <li>Linux uniquement</li>
                                <li>x1 IPv6 & IPv4</li>
                                <li>Jusqu'à 100 Mbps</li>
                            </ul>
                            <a href="~/cart/index.aspx?vps-start=product" class="site-btn">@ViewBag.VPSButton</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-card">
                        <div class="pc-header">
                            <h4>VPS Enterprise</h4>
                            <h5><span>25.99€ /mois</span></h5>
                        </div>
                        <div class="pc-details">
                            <div class="pc-icon">
                                <img src="../Models/hosting2019/img/pricing-icons/3.png" alt="#">
                            </div>
                            <ul>
                                <li>8 vCore </li>
                                <li>32 Go RAM</li>
                                <li>50 Go SAS [15K RPM]</li>
                                <li>Linux uniquement</li>
                                <li>x1 IPv6 & IPv4</li>
                                <li>100 Mbps dédié</li>
                            </ul>
                            <a href="~/cart/index.aspx?vps-entreprise=product" class="site-btn">@ViewBag.VPSButton</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
    
    </div>
</section>
