<!-- Pricing section -->
<section class="pricing-section spad">
    <div class="container">
        <div class="section-title text-white">
            <h2>Nos services d'hébergement Web</h2>

        </div>
        <form method="post" action="~/Send">
            <div class="row">
                <div class="col-md-4">
                    <div class="pricing-card">
                        <div class="pc-header">
                            <h4>Web1</h4>
                            <h5><span>0.24€ /mois</span></h5>
                        </div>
                        <div class="pc-details">
                            <div class="pc-icon">
                                <img src="../Models/hosting2019/img/pricing-icons/3.png" alt="#">
                            </div>
                            <ul>
                                <li>1 Site </li>
                                <li>Linux GNU</li>
                                <li>1 Go de disque</li>
                                <li>3 Bases de données</li>
                                <li>x1 IPv6 & IPv4</li>
                                <li>Backup non inclut</li>
                                <li>Anti-DDoS inclut</li>
                                <li>Jusqu'à 50 visiteurs</li>
                            </ul>
                            <a href="~/cart/index.aspx?web=product" class="site-btn">@ViewBag.VPSButton</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-card">
                        <div class="pc-header">
                            <h4>Web4</h4>
                            <h5><span>1.05€ /mois</span></h5>
                        </div>
                        <div class="pc-details">
                            <div class="pc-icon">
                                <img src="../Models/hosting2019/img/pricing-icons/3.png" alt="">
                            </div>
                            <ul>
                                <li>3 Sites </li>
                                <li>Linux GNU</li>
                                <li>4 Go de disque</li>
                                <li>6 Bases de données</li>
                                <li>x1 IPv6 & IPv4</li>
                                <li>Backup inclut</li>
                                <li>Anti-DDoS inclut</li>
                                <li>Jusqu'à 100 visiteurs</li>
                            </ul>
                            <a href="~/cart/index.aspx?vps=product" class="site-btn">@ViewBag.VPSButton</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-card">
                        <div class="pc-header">
                            <h4>Web50</h4>
                            <h5><span>15.99€ /mois</span></h5>
                        </div>
                        <div class="pc-details">
                            <div class="pc-icon">
                                <img src="../Models/hosting2019/img/pricing-icons/3.png" alt="#">
                            </div>
                            <ul>
                                <li>Sites sans limites</li>
                                <li>Linux GNU</li>
                                <li>50 Go de disque</li>
                                <li>Bases de données sans limites</li>
                                <li>x1 IPv6 [Dédié] & IPv4</li>
                                <li>Backup inclut</li>
                                <li>Anti-DDoS + Firewall</li>
                                <li>Jusqu'à 400 visiteurs</li>
                            </ul>
                            <a href="~/cart/index.aspx?mail=product" class="site-btn">@ViewBag.VPSButton</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    </div>
</section>
