
@{
}
<head>
    <meta name="description" content="Les informations sur @ViewBag.Project">
</head>


<!-- Page Top section end -->
<!-- About Intro section -->
<section class="about-intro-section spad">
    <div class="container">
        <div class="section-title">
           
            <h2>@ViewBag.Project</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="about-intro-pic">
                    <img src="../Models/hosting2019/img/about-intro.jpg" alt="">
                    <a href="/" class="video-play video-popup"><i class="fa fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 about-intro-text">
                <p>
                    Le nom @ViewBag.Project vient du nom de famille du créateur Bastien
                    Le mot Network vient du mot anglais réseau en résumé <b>le réseau de la famille Languedoc</b> il s'appuiera sur le réseau de OVH Télécom
                    mais avec ses propres serveurs. L'avantage pour vous serons les prix compététif, vos données ne seront pas traitées par des tiers ni partagés.
                </p>
                <!--<div class="site-btn sb-c3"></div>-->
            </div>
        </div>
    </div>
</section>
<!-- About Intro section end -->
<!-- What section -->
<section class="what-section spad set-bg" data-setbg="../Models/hosting2019/img/what-bg.jpg">
    <div class="container">
        <div class="section-title text-white">
          
            <h2>Nous sommes là pour vous !</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="what-card">
                    <img src="../Models/hosting2019/img/what/1.jpg" alt="">
                    <div class="wc-text">
                        <h5>Hébergement Web</h5>
                        <p>Windows, Linux, MySQL, Stockage que choisir réellement ? Languedoc Network vous aideras dans vos choix.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="what-card">
                    <img src="../Models/hosting2019/img/what/2.jpg" alt="">
                    <div class="wc-text">
                        <h5>Matériel professionel</h5>
                        <p>Notre infrastructure n'est basée que sur des produits de marque, Samsung, HP, Cisco. Pour vous proposer de la qualité.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="what-card">
                    <img src="../Models/hosting2019/img/what/3.jpg" alt="">
                    <div class="wc-text">
                        <h5>Solution adaptée</h5>
                        <p>Tout projet est unique, vous aurez besoin plus ou moins de performances que les autres, Languedoc Network vous soutiens !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Whatsection end -->

