
@{
}
<head>
    <meta name="description" content="Les informations sur @ViewBag.Project">
</head>


<!-- Page Top section end -->
<!-- About Intro section -->
<section class="about-intro-section spad">
    <div class="container">
        <div class="section-title">
           
            <h2>@ViewBag.Project</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="about-intro-pic">
                    <img src="../Models/hosting2019/img/about-intro.jpg" alt="">
                    <a href="/" class="video-play video-popup"><i class="fa fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 about-intro-text">
                <p>
                    @ViewBag.Project est une association de loi 1901 qui à pour but d'héberger des services web et d'aider les projets !
                    Nous soutenons les associations, les auto-entrepreneurs et les startups.<b>On vous offre nos services</b> si votre projet est intéréssant.
                    Si vous préférez plutôt louer ou acheter un de nos services, vous ne trouverez pas meileur ailleurs. 
                </p>
                <!--<div class="site-btn sb-c3"></div>-->
            </div>
        </div>
    </div>
</section>
<!-- About Intro section end -->
<!-- What section -->
<section class="what-section spad set-bg" data-setbg="../Models/hosting2019/img/what-bg.jpg">
    <div class="container">
        <div class="section-title text-white">
          
            <h2>Nous sommes là pour vous !</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="what-card">
                    <img src="../Models/hosting2019/img/what/1.jpg" alt="">
                    <div class="wc-text">
                        <h5>Hébergement Web</h5>
                        <p>Nous vous aidons a choisir la bonne offre pour vos besoins. Pas d'arnaque, pas de cachotteries.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="what-card">
                    <img src="../Models/hosting2019/img/what/2.jpg" alt="">
                    <div class="wc-text">
                        <h5>Matériel professionel</h5>
                        <p>Nous bénéficions d'une infrastructure matériel et réseau complète, ce qui nous différencie d'un hébergeur classique.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="what-card">
                    <img src="../Models/hosting2019/img/what/3.jpg" alt="">
                    <div class="wc-text">
                        <h5>Aide aux projets</h5>
                        <p>Nous aidons les associations, les auto-entrepreneurs et les startups. Demandez nos services bénévolement !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Whatsection end -->

