<!DOCTYPE html>
<html>
<head>
    <title>Demande d'aide pour votre projet</title>
</head>
<body>
    <p>Bonjour, </b>.</p>
    <br />
    <p>Merci de faire confiance à notre association !.</p>
    <p>
        Cet e-mail est un accusé de réception pour vous avertir que notre équipe travaillera la plus rapidement possible sur l'étude de votre projet.
    </p>
    <br />

    <p>Cordialement</p>
    <p>L'équipe de Synhostinger</p>

</body>
</html>