<!-- Pricing section -->
<section class="pricing-section spad">
    <div class="container">
        <div class="section-title text-white">
            <h2>Demande d'aide pour vos projets</h2>

        </div>
        <form method="post" action="~/Send">
            <div class="row">
                <div class="col-md-4">
                    <div class="pricing-card">
                        <div class="pc-header">
                            <h4>Hébergement Web</h4>
                            <h5><span>0.99€ /mois</span></h5>
                        </div>
                        <div class="pc-details">
                            <div class="pc-icon">
                                <img src="../Models/hosting2019/img/pricing-icons/1.png" alt="#">
                            </div>
                            <ul>
                                <li>10 Go de stockage</li>
                                <li>HTTP/2 + SSL inclut</li>
                                <li>Langues PHP, ASP, NodeJS</li>
                                <li>IIS - Windows</li>
                                <li>3 Bases de données</li>
                                <li>1 Compte FTP</li>
                            </ul>
                            <a href="~/cart/product-project.aspx?web=product" class="site-btn">Faire ma demande</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-card">
                        <div class="pc-header">
                            <h4>Hébergement de VPS</h4>
                            <h5><span>3.99€ /mois</span></h5>
                        </div>
                        <div class="pc-details">
                            <div class="pc-icon">
                                <img src="../Models/hosting2019/img/pricing-icons/1.png" alt="">
                            </div>
                            <ul>
                                <li>50 Go Raid 10</li>
                                <li>4 vCores</li>
                                <li>4 Go de RAM</li>
                                <li>1 IPv4 / IPv6 Public</li>
                                <li>100 Mbps WAN</li>
                                <li>1 Gbps LAN</li>
                            </ul>
                            <a href="~/cart/product-project.aspx?vps=product" class="site-btn">Faire ma demande</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-card">
                        <div class="pc-header">
                            <h4>Hébergement E-mail</h4>
                            <h5><span>2.99€ /mois</span></h5>
                        </div>
                        <div class="pc-details">
                            <div class="pc-icon">
                                <img src="../Models/hosting2019/img/pricing-icons/1.png" alt="#">
                            </div>
                            <ul>
                                <li>50 Go - 300 Go</li>
                                <li>Antivirus & Anti Spam</li>
                                <li>Client messagerie multi-support</li>
                                <li>Panel VestaCP</li>
                                <li>Compte e-mail illimités</li>
                                <li>1 Nom de domaine</li>
                            </ul>
                            <a href="~/cart/product-project.aspx?mail=product" class="site-btn">Faire ma demande</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
    
    </div>
</section>
