
@{

}
<head>
    <meta name="description" content="Contactez @ViewBag.Project pour expliquer votre projet.. réponse toujours en moins de 48h ">
</head>

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 contact-text">
                <h4 class="contact-title">Me contacter</h4>
                <p>.</p>
                <div class="contact-info">
                    <div class="ci-icon">
                        <img src="../Models/hosting2019/img/contact-icons/1.png" alt="">
                    </div>
                    <h6>12 IMPASSE PAUL DELANSAY - 60 000 Beauvais</h6>
                </div>
                <div class="contact-info">
                    <div class="ci-icon">
                        <img src="../Models/hosting2019/img/contact-icons/2.png" alt="">
                    </div>
                    <h6>+33 7 61 47 33 29</h6>
                </div>
                <div class="contact-info">
                    <div class="ci-icon">
                        <img src="../Models/hosting2019/img/contact-icons/3.png" alt="">
                    </div>
                    <h6>contact@synhostinger.fr</h6>
                </div>
            </div>



            <div class="col-lg-6">
                <h4 class="contact-title">Formulaire de contact</h4>
                <form method="post" action="~/Send" class="contact-form">
                    <input name="customerName" type="text" placeholder="Prénom Nom" value="" required>
                    <input name="customerEmail" type="email" placeholder="Adresse Email" value="" required>
                    <textarea name="customerRequest" placeholder="Message" value="text" required></textarea>
                    </br>
                    <button name="sender" class="site-btn sb-c1" value="send">Envoyer</button>

                </form>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2594.0092342558173!2d2.0724888156952983!3d49.446542479349574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e7072a3c15cab9%3A0x3483e70b028a690a!2sSynhostinger!5e0!3m2!1sfr!2sfr!4v1603929160393!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</section>
<!-- Services section end -->
