@{
    ViewBag.Title = "Commande";
    Response.AddHeader("REFRESH", "5;URL=/");
}
<br />
<p>
    <center>
        Votre commande a bien été prise en compte par Languedoc Network<br />
        Redirection automatique vers la page d'accueil...
    </center>
</p>

<br /><br />
<!--<div class="site-btn sb-c3"></div>-->
